* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --active-btn: hsl(156, 42%, 18%);
  --white: hsl(30, 38%, 92%);
  --card-bg: hsl(0, 0%, 100%);
  --secondary: hsl(158, 36%, 37%);
  --tertiary: hsl(228, 12%, 48%);
  --product-title: hsl(212, 21%, 14%);
}

/* Independent of Screen Size */
/* Typography */
body {
  font-family: "Montserrat", sans-serif;
}
p,
.category,
.cart-btn {
  font-size: 14px;
  color: var(--tertiary);
}

main.card h2.category {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 12px;
  margin-top: 0;
}
.name,
.discounted {
  font-family: "Fraunces", cursive, serif;
  color: var(--product-title);
}
.price {
  display: flex;
  align-items: center;
}
.discounted {
  color: var(--secondary);
  font-size: 30px;
}

.full {
  text-decoration: line-through;
  margin-left: 24px;
}

/* Basic Styles */
body {
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main.card {
  background: var(--card-bg);
  display: flex;
  max-width: 600px;
  border-radius: 10px;
  height: 450px;
}
picture,
.info {
  width: 50%;
}
.info {
  padding: 30px;
}
img {
  display: inline-block;
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.category, 
.name, 
.description, 
.price, 
.cart-btn {
  margin: 25px 0;
}
.name {
  font-size: 32px;
  line-height: 1;
}
.description {
  line-height: 1.5;
}

svg {
  margin-right: 10px;
}
button.cart-btn {
  background: var(--secondary);
  color: var(--white);
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-btn:active {
  background: var(--active-btn);
}
button:hover {
  cursor: pointer;
}
/* Mobile */
@media (max-width: 600px) {
  main.card {
    max-width: 370px;
    flex-direction: column;
    height: 640px;
  }
  .category, 
.name, 
.description, 
.price, 
.cart-btn {
  margin: 20px 0;
}
  .category {
    margin-top: 0;
  }
  picture,
  .info {
    width: 100%;
  }
  img {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
  .description {
    padding-right: 14px;
  }
}
/* Accessibilty */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
